body {
  width: 100%;
  background-color: #ccc;
}

/*.container {
  justify-content: center;
  align-items: center;
}*/

.main {
  width: 100px;
  display: flex;
  justify-content: center;
  /*margin: auto;*/
  width: 100%;
}

.picture {
  width: 500px;
  height: 400px;
  background-size: cover;
}

.nav_by_button {
  padding: 15% 1%;
}

.left_button {
  /*background-color: #fff;*/
  background-image: url(./img/right.png);
  background-size: contain;
  border: none;
  display: inline-block;
  height: 60px;
  width: 60px;
  transform: rotate(180deg);
}

.right_button {
  /*background-color: #fff;*/
  background-image: url(./img/right.png);
  background-size: contain;
  border: none;
  display: inline-block;
  border: none;
  height: 60px;
  width: 60px;
}

.navigation {
  width: 100px;
  display: flex;
  justify-content: center;
  margin: 50px 0px;
  width: 100%;
}
