body {
  background-color: #f4ebeb;
  color: #331521;
}

button {
  height: 200px;
  border-radius: 100px;
  font-family: Amatic SC;
  color: #ffffff;
  font-size: 25px;
  background: #331521;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: none;
}

button:hover {
  background: #ff7c87;
  text-decoration: none;
  border:none;
}

.btnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

#crazyContainer {
  padding: 50px 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Amatic SC;
  font-size: 45px;
  text-align: center;
}

.intro {
  padding: 50px 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Amatic SC;
  font-size: 60px;
}
